<ul>
	<li><%= comment.content %></li>
	Commented: <%= comment.created_at.to_date %><br>
	By: <%= comment.user.username %>

	<% if current_user && current_user.id == comment.user.id %><br>
		<%= link_to "Edit", edit_comment_path(comment) %>
		<%= link_to "Delete", comment_path(comment), method: :delete %><br>
	<% end %>

	<% if current_user && current_user.id != comment.user.id %><br>
		<% if Vote.where(user_id: current_user.id, comment_id: comment.id).count == 0 %>
			<%= form_for :vote, as: :vote, url: comment_votes_path(comment), method: :post do |f| %>
				<%= f.submit "Vote Up" %>
				<%= f.submit "Vote Down" %>
			<% end %> 
		<% end %>
	<% end %>
	<hr>
</ul>