<h2>ALL POSTS</h2>
<h4>
	<%= link_to "Sort posts by the most commented", sorted_posts_path %><br>
	<%= link_to "Show all of My Posts", my_posts_path %>
</h4><hr>

<%= render 'show_all_posts' %>

<h4><%= link_to	"Add Post", new_post_path %></h4>

<%= image_tag "JustInCase.jpg" %>