<h3>All my posts:</h3>
<%= image_tag "GetYourShit.jpg" %><br>
 <% @posts.each do |post| %>

	<h4><%= link_to post.title, post_path(post) %></h4>
	<%= post.content %><br>
	By: <%= post.user.username %><br>
	Created: <%= post.created_at.to_datetime %>
	<hr>
<% end %>