<h3>Posts sorted by the most commented</h3><h5><%= link_to "Show all of My Posts", my_posts_path %></h5><hr>
<% @posts.sort_by{ |post| post.comments.count }.reverse.each do |post| %>
	<ul>
		<li><h4><%= link_to post.title, post_path(post) %></h4></li>
		<%= post.content %><br>
		Posted: <%= post.created_at.to_date %> at <%= post.created_at.strftime("%H:%M:%S %Z") %> (<%= time_ago_in_words(post.created_at) %> ago)
	</ul><hr>
<% end %>
<h4><%= link_to	"Add Post", new_post_path %></h4>